<h1>Your attemps is : <%= @attempt%></h1>

<h2>Details</h2>
<ul>
  <li> Time : <%= @result[:time]%> seconds </li>
  <li> Means : "<%= @result[:translation]%>" </li>
  <li> Score : <%= @result[:score]%> points</li>
</ul>
